{sub_dirs, ["rel"]}.
{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.
{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", master}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy", master}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy", master}},
  {epgsql, ".*", {git, "git://github.com/wg/epgsql", master}},
  {poolboy, ".*", {git, "git://github.com/devinus/poolboy", master}}
]}.
