{sub_dirs, ["rel"]}.
{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.
{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "e749242087706e480ecb530d99c5615e7e0dc7d6"}}},
  {cowboy, ".*", {git, "git://github.com/extend/cowboy", {tag, "855e9652fa40673d8f1ff40fd262963941e28fef"}}},
  {jiffy, ".*", {git, "git://github.com/davisp/jiffy", {tag, "e2b2c3a91931af5911797efb90e51e6aa8c52305"}}},
  {epgsql, ".*", {git, "git://github.com/wg/epgsql", {tag, "3318bd5d646cad0623ae9dcc6df015bb85258a63"}}},
  {poolboy, ".*", {git, "git://github.com/devinus/poolboy", {tag, "2a035135dc3e1e2aeb0f69365171fc9e9a2e82df"}}},
  {lhttpc, ".*", {git, "git://github.com/esl/lhttpc.git", master}}
]}.
